
radius.2haks.xyz {
	encode zstd gzip
	root * /opt/apps/radius/public
	file_server
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		Content-Security-Policy "default-src 'self'; style-src 'self'; img-src 'self' blob:; script-src 'self'; frame-ancestors 'none'; base-uri 'none'; form-action 'none'; connect-src 'none'"
		Cache-Control no-cache
	}
}
